.form-group {
  width: 100%;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.wrapper-for-input {
  width: 80%;
  margin: auto;
}

.wrapper-for-input h2 {
  text-align: center;
}

input {
  margin: 1em 0;
}

.search-dish-area {
  width: 30%;
  float: left;
}

#input-ingredient-area {
  width: 70%;
  float: right;

}

#filter-input {
  background-color: lightgray;
  padding: 1em;
}

.wrapper h2 {
  text-align: center;
}

.ingredient-input {
  margin-top: 1em;
  width: 70%;
  display: inline-block;
}
