

.form-group {
  width: 100%;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.wrapper{
  width: 80%;

}

h2 {
  text-align: center;
}

input {
  margin: 1em 0;
}

.search-dish-area {
  width: 30%;
  float: left;
  margin-left: 10%;
}

.search-btn {
  margin-top: 1em;
}

.search-input {
  height: 38px;
}

.clear {
  clear: left;
}

.left {
  float: left;
}

#input-ingredient-area {
  width: 50%;
  float: left;

}

#input-ingredient-area .form-group input {
  width: 70%;
}

#filter-input {
  background-color: lightgray;
  padding: 1em;
}

.wrapper h2 {
  text-align: center;
}

.ingredient-input {
  margin-top: 1em;
  display: inline-block;
  width: 70%
}

@media only screen and (max-width: 500px) {
  .search-dish-area {
    width: 100%;
    clear: left;
  }
  
  #input-ingredient-area {
    width: 100%;
    clear: right;
  
  }
}
